
/* start header */
header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

li{
    margin-left: 20px;
}

header .navbar-nav .nav-link,
header .navbar-brand{
    color: white;
}

header .navbar .nav-item.active a{
    color: #35a22c;
}

header .navbar .nav-link:hover {
    color: #35a22c;
}

header .navbar .nav-item{
    position: relative;
}

header .navbar .nav-item::before{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background: #35a22c;
    left: 0;
    bottom: 0;
}

header .navbar .nav-item:hover::before,
header .navbar .nav-item.active::before {
    width: 100%;
    transition: 0.5s;
}

/* start carousel  */
.carousel-item{
    height: 100vh;
}

#carousel .carousel-caption img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#carousel .carousel-caption{
    bottom: 50%;
    transform: translateY(50%);
}

#carousel .carousel-item::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000053;
    top: 0;
    left: 0;
}

#carousel .carousel-indicators{
    bottom: 10%;
}

.carousel-indicators .active{
    background-color: #35a22c;
}

#carousel .carousel-indicators li{
    margin: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
}

#carousel h5{
    font-size: 56px;
}

#carousel p{
    font-size: 24px;
}

/* start project */
.project_tabs ul{
    min-width: 800px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link{
    background-color: #35a22c;
}

.nav-pills .nav-link{
    color: #1a1d2d;
    border: 1px solid #1a1d2d;
    margin: 0 5px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link{
    border: none;
}

.project_tabs .nav{
    justify-content: center;
}

.card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid transparent;
}

.card:hover .card-body{
    border: 1px solid #35a22c;
    transition: 0.5s;
    border-top: 1px solid transparent;
}

.card:hover h5{
    color: #35a22c;
    transition: 0.5s;
}

.project_tabs .card-body{
    border: 1px solid transparent;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

/* start experience */
#experience{
    background-image: url(./image/3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.experience_title {
    position: relative;
    z-index: 1;
}

#experience::before{
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}